@import "src/utils";

.gdata-album-list {
	padding: 6px;
	padding-left: 0px;
	padding-bottom: 0px;
	&:hover {
		a {
			color:red;
		}
		.album-image  {
			opacity: 1;
		}
	}
	.album-name {
		padding: 10px;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAJnz56tZ4TxQRxjY+NGsACMA2IzInNAAgDZSw7r4ocGigAAAABJRU5ErkJggg==);
		background-color: #f7f7f7;
		cursor: pointer;
		.content {
			.TextOverflowElipsies;
		}
	}
	.album-image {
		.AnimateEasing(300ms, ease-out);
		position: relative;
		z-index: 10;
		max-height:100%;
		opacity: 0.8;
	}
	.album-image-wrap {
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAJnz56tZ4TxQRxjY+NGsACMA2IzInNAAgDZSw7r4ocGigAAAABJRU5ErkJggg==);
		overflow: hidden;
//		background:	radial-gradient(#A5A5A5 1%, transparent 9%) 0 0, radial-gradient(#000000 0%, transparent 6%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.1) 0%, transparent 0%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) -31%, transparent 20%) 8px 9px;
//		background-size:16px 16px;
		background-color: #f6f6f6;
		cursor: pointer;
	}
}