@import "src/utils";

.gdata-album-list {
	padding: 6px;
	padding-left: 0px;
	padding-bottom: 0px;
	a{
		.Animate(1400ms);
	}
	&:hover {
		a {
			color:@red;
		}
		.album-image  {
			opacity: 1;
		}
	}
	.album-name {
		padding: 10px;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAJnz56tZ4TxQRxjY+NGsACMA2IzInNAAgDZSw7r4ocGigAAAABJRU5ErkJggg==);
		background-color: #f7f7f7;
		cursor: pointer;
		.content {
			.TextOverflowElipsies;
		}
	}

	.album-image {
		.AnimateEasing(1300ms, ease-out);
		position: relative;
		z-index: 10;
		opacity: 0.8;
		&:hover {
			opacity: 0.1;
			max-height: 40%;
		}
	}
	.album-image-wrap {
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAJnz56tZ4TxQRxjY+NGsACMA2IzInNAAgDZSw7r4ocGigAAAABJRU5ErkJggg==);
		overflow: hidden;
		background-color: #f6f6f6;
		cursor: pointer;
	}
}