.TextOverflowElipsies {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.centered-container {
  display: table;
  width: 100%;
  height: 100%;
}
.centered-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.gdata-album-list {
  padding: 10px;
  padding-left: 0px;
}
.gdata-album-list:hover a {
  color: red;
}
.gdata-album-list:hover .album-image {
  opacity: 1;
}
.gdata-album-list .album-name {
  padding: 10px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAJnz56tZ4TxQRxjY+NGsACMA2IzInNAAgDZSw7r4ocGigAAAABJRU5ErkJggg==);
  background-color: #f7f7f7;
  cursor: pointer;
}
.gdata-album-list .album-name .content {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.gdata-album-list .album-image {
  -webkit-transition: all ease-out 300ms;
  -moz-transition: all ease-out 300ms;
  -ms-transition: all ease-out 300ms;
  -o-transition: all ease-out 300ms;
  transition: all ease-out 300ms;
  position: relative;
  z-index: 10;
  max-height: 100%;
  opacity: 0.8;
}
.gdata-album-list .album-image-wrap {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAJnz56tZ4TxQRxjY+NGsACMA2IzInNAAgDZSw7r4ocGigAAAABJRU5ErkJggg==);
  overflow: hidden;
  background-color: #f6f6f6;
  cursor: pointer;
}
