.kontakt-default {
  min-height: 17em;
}
.kontakt-default .kontakt-wrap {
  padding-left: 16px;
}
.kontakt-default .kontakt-content {
  padding-left: 6px;
}
.kontakt-default h3,
.kontakt-default h2,
.kontakt-default h4,
.kontakt-default h5,
.kontakt-default h6 {
  margin: 0px;
  padding: 0px;
}
.kontakt-default h3 {
  font-weight: bold;
  margin-left: -12px;
  padding-left: 6px;
  border-left: 12px solid #990000;
  margin-top: 5px;
  margin-bottom: 5px;
}
.kontakt-default h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.kontakt-default .has-map {
  padding-bottom: 30px;
}
