@icon4xSize: 6em;
@font4xSize: 6em;
@font3xSize: 3em;

@media (min-width: 1200px) {
    body {
        font-size: 100%;
    }

    .container_12, .container {
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
    }

    .icon-4x-responsive {
        font-size: @icon4xSize;
    }

    .font-4x-responsive {
        font-size: @font4xSize;
    }

    .font-3x-responsive { font-size: @font3xSize;  }
}

@media (min-width: 768px) and (max-width: 1199px) {
	@coefficient: 0.8;

    body {
        font-size: 80%;
    }

    .container_12, .container {
        border: 1px solid green;
    }

    .icon-4x-responsive { font-size: @icon4xSize * @coefficient; }
    .font-4x-responsive { font-size: @font4xSize * @coefficient; }
    .font-3x-responsive { font-size: @font3xSize * @coefficient; }
}

@media (max-width: 767px) {
	@coefficient: 0.7;
    body {
        font-size: 70%;
    }

    .container_12, .container {
        border: 1px solid blue;
    }

	.icon-4x-responsive { font-size: @icon4xSize * @coefficient; }
	.font-4x-responsive { font-size: @font4xSize * @coefficient;  }
	.font-3x-responsive { font-size: @font3xSize * @coefficient;  }
}

@media (max-width: 480px) {
	@coefficient: 0.6;
	body {
        font-size: 60%;
    }

    .container_12, .container {
        border: 1px solid yellow;
    }

	.icon-4x-responsive { font-size: @icon4xSize * @coefficient; }
	.font-4x-responsive { font-size: @font4xSize * @coefficient;  }
	.font-3x-responsive { font-size: @font3xSize * @coefficient;  }
}