@media (min-width: 1200px) {
  body {
    font-size: 100%;
  }
  .container_12,
  .container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
  .icon-4x-responsive {
    font-size: 4em;
  }
  .font-4x-responsive {
    font-size: 4em;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  body {
    font-size: 80%;
  }
  .container_12,
  .container {
    border: 1px solid green;
  }
  .icon-4x-responsive {
    font-size: 3.2em;
  }
  .font-4x-responsive {
    font-size: 3.2em;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 70%;
  }
  .container_12,
  .container {
    border: 1px solid blue;
  }
  .icon-4x-responsive {
    font-size: 2.8em;
  }
  .font-4x-responsive {
    font-size: 2.8em;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 60%;
  }
  .container_12,
  .container {
    border: 1px solid yellow;
  }
  .icon-4x-responsive {
    font-size: 2.4em;
  }
  .font-4x-responsive {
    font-size: 2.4em;
  }
}
