<!DOCTYPE html>
<html lang="cs" ng-app="defaultClient">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="all,follow"/>
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<meta name="google-site-verification" content=""/>
	<meta name="fragment" content="!"/>

	<title>BOOS</title>
	<script type="text/javascript"
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNC6LIzTQj51MXJg4hSopBak9cqhPGazY&sensor=false"></script>

	<script type="text/javascript" src="build/app.libs.js"></script>
	<script type="text/javascript" src="build/app.js"></script>
	<link rel="stylesheet" href="build/app.css"/>

	<link rel="stylesheet" href="libs/css/font-awesome/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="libs/css/font/stylesheet.css"/>

</head>

<body ng-controller="appController" class="boos">

<div class="loader-wrap" ng-show="showLoader">
	<div class="centered-container">
		<div class="centered-content">
			<div class="main-logo">
				<img src="resources/logo_transparent.png" alt="BOOS"/>
				<img class="ocko scale" src="resources/logo_o.png" alt="BOOS"/>
			</div>
			<div>
				<img src="resources/loaders/loader.gif"/>
			</div>
		</div>
	</div>
</div>
<div class="background-wrap" ng-show="showContent">
	<i ui-event="{ keydown: 'globalKeydown($event)'}" style="display:none"></i>

	<div class="clear"></div>

	<div class="alert alert-error" ng-show="message">
		<b></b>
		{{message}}
	</div>

	<div class="container_12 maincontent">
		<div class="border-bottom">
			<div class="grid_5">
				<div class="main-logo">
					<a href="#!/page/projekty">
						<img src="resources/logo_transparent.png" alt="BOOS"/>
						<img class="ocko scale" src="resources/logo_o.png" alt="BOOS"/>
					</a>
				</div>
			</div>
			<div class="grid_4">
				<div class="border-top">
					<div class="logo-home"> architektura &#8226; design &#8226; project management &#8226; inženýring
					</div>
				</div>
			</div>
			<div class="grid_3 main-menu">
				<div class="border-top">
					<div><a href="#!/page/projekty" ng-class="isSelectedLink('projekty')">Projekty</a></div>
					<div><a href="#!/page/historie" ng-class="isSelectedLink('historie')">Historie</a></div>
					<div><a href="#!/page/cinnost" ng-class="isSelectedLink('cinnost')">Činnost</a></div>
					<div><a href="#!/page/kontakt" ng-class="isSelectedLink('kontakt')">Kontakt</a></div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="grid_12 index-content">
			<div ng-view class="view"></div>
		</div>
	</div>

	<div class="clear"></div>


	<div class="dumbBoxWrap gallery-image-viewer page-overlay" ng-show="overlayGalleryShow"
		 ng-controller="galleryBrowser">

		<div class="dumbBoxOverlay">
			<div ng-show="loading" class="loader">
				<img src="resources/loaders/loader.gif" alt="loading..."/>
			</div>
			&nbsp;
		</div>
		<div class="vertical-offset">

			<div class="full-height">
				<div class="container_12 full-height previous">
					<div class="grid_2 full-height preview-previous"
						 ng-click="prev()">
						<div class="full-height-content">
							<div gridelement="prevItem" skin="album-overlay-preview" class="full-height preview-content"
								 ng-show="prevItem"></div>
						</div>
					</div>
					<div class="grid_8 full-height">
						<div class="full-height-content">
							<div gridelement="currentItem" skin="album-overlay" class="full-height"></div>
						</div>
					</div>
					<div class="grid_2 full-height preview-next" ng-click="next()">
						<div class="full-height-content">
							<div gridelement="nextItem" skin="album-overlay-preview" class="full-height preview-content"
								 ng-show="nextItem"></div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>


<script id="text.thtml" type="text/ng-template">
	<div>
		{{gridelement.resources.text}}
	</div>

</script>

<script id="simplehtml.thtml" type="text/ng-template">
	<div ng-controller="simplehtml">
		<div ng-bind-html-unsafe="ContentToHtml()"></div>
	</div>
</script>

<script id="gdataalbum.thtml" type="text/ng-template">
	<div>
		<div class="gdata-album-list" ng-controller="gridelementGdataAlbumCtrl">
			<div>{{ header }}</div>
			<div>{{ text }}</div>
			<div><img src="{{album.Thumbnail.Thumbnails[0].PhotoUri}}"/></div>
			<div class="clear"></div>
		</div>

</script>

<script id="album.thtml" type="text/ng-template">
	<div class="grid_3">
		<div class="gdata-album-list" ng-controller="gridelementAlbumCtrl">
			<div class="aspect-ratio-box" ng-class="cssRatio" ng-click="imageClick(name)">
				<div class="aspect-ratio-content album-image-wrap">
					<div ngc-fit-to-box-image="album.Thumbnail.Thumbnails[0].PhotoUri"
						 style="width: 100%;height: 100%;">.
					</div>
				</div>
			</div>
			<div class="album-name"><a ng-click="imageClick(name)">{{ name }} &nbsp;..</a></div>
			<div class="clear"></div>
		</div>

</script>

<script id="album_album-overlay.thtml" type="text/ng-template">
	<div class="album-overlay" ng-controller="gridelementAlbumOverlayCtrl">

		<div class="grid_12 " style="height: 10%;max-height: 90px">
			<div class="header">
				<h1 class="header-content">{{ name }}</h1>
			</div>
		</div>
		<div class="grid_12" style="height: 55%;overflow: hidden">
			<div class="grid_8">
				<div class="image-envelope preview-current">
					<img class="album-image" ng-src="{{previousImage.Thumbnails[2].PhotoUri}}" style="display:none"/>
					<img class="album-image" ng-src="{{currentImage.Thumbnails[2].PhotoUri}}"/>
					<img class="album-image" ng-src="{{nextImg.Thumbnails[2].PhotoUri}}" style="display:none"/>
				</div>

			</div>
			<div class="grid_4">
				<div class="">
					<div ng-repeat="image in albumPhotos" class="preview"
						 ng-class="currentImageIndex == $index ? 'selected' : null">
						<img class="xx" ng-click="showImagePreview($index)" ng-src="{{image.Thumbnails[0].PhotoUri}}"
							 src=""/></div>
				</div>
				<div class="">
					<div class="details">
						<div>{{ services }}</div>
						<div>{{ year }}</div>
						<div>{{ type }}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="grid_12" style="height: 35%">
			<div class="grid_8">
				<div class="more-details">
						<div class="more-details-content" ng-bind-html-unsafe="text"></div>
				</div>
			</div>
			<div class="grid_4 map">
				<div class="map-content" ng-show="hasMap">
					<div ngc-google-map="map" style="height: 90%">
				</div>
				</div>
			</div>
		</div>
	</div>
</script>

<script id="album_album-overlay-preview.thtml" type="text/ng-template">
	<div class="album-overlay" ng-controller="gridelementAlbumOverlayCtrlPreview">

		<div class="grid_12 " style="height: 10%;max-height: 90px">
			<div class="header">
				<h1 class="header-content">{{ name }}</h1>
			</div>
		</div>
		<div class="grid_12" style="height: 55%;overflow: hidden">
			<div class="image-envelope preview-current">
				<img class="album-image" ng-src="{{currentImage.Thumbnails[2].PhotoUri}}"/>
			</div>
		</div>
	</div>
</script>


<script id="gdataalbum_Single.thtml" type="text/ng-template">
	<div>
		<div class="gdata-album" ng-controller="gridelementGdataAlbumCtrl">

			<h1>{{gridelement.Resources.header.Value}}</h1>

			<h3>{{gridelement.Resources.text.Value}}</h3>

			<div class="first-image grid_3 btn-link" ng-click="showImage(gdataAlbumId, 0)">
				<img ngc-lazy-image="firstPhoto.Thumbnails[1].PhotoUri"/>
			</div>
			<div class="grid_9">
				<div ng-repeat="photo in gdataAlbumPhotos" class="image-small">
					<div ng-click="showImage(gdataAlbumId, $index + 1)" class="btn-link"><img
							ngc-lazy-image="photo.Thumbnails[1].PhotoUri"/></div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</script>
<script id="kontakt.thtml" type="text/ng-template">
	<div class="{{blockSize}} kontakt-default" ng-controller="gridelementKontaktCtrl">
		<div ng-if="hasMap" class="has-map">
			<div class="grid_3">
				<h3 ng-show="header">{{header}}</h3>

				<div class="kontakt-content">
					<h4 ng-show="subHeader">{{subHeader}}</h4>

					<div ng-show="valueA">{{valueA}}</div>
					<div ng-show="valueB">{{valueB}}</div>
					<div ng-show="valueC">{{valueC}}</div>
					<div ng-show="valueD">{{valueD}}</div>
					<div ng-show="valueE">{{valueE}}</div>
					<div ng-show="valueF">{{valueF}}</div>
				</div>
			</div>
			<div class="grid_9">
				<div ng-show="map" ngc-google-map="map" style="height: 300px;margin-left:18px">
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div ng-if="!hasMap">
			<h3 ng-show="header">{{header}}</h3>

			<div class="kontakt-content">
				<h4 ng-show="subHeader">{{subHeader}}</h4>

				<div ng-show="valueA">{{valueA}}</div>
				<div ng-show="valueB">{{valueB}}</div>
				<div ng-show="valueC">{{valueC}}</div>
				<div ng-show="valueD">{{valueD}}</div>
				<div ng-show="valueE">{{valueE}}</div>
				<div ng-show="valueF">{{valueF}}</div>
			</div>
		</div>
</script>

</body>
</html>

