<div class="container_12 right page-home" >
	<div class="grid_6">
		<div class="home_main">
			<div class="home_main_image">
				<div class="image-placeholder">
					<a href="#!/p/{{pageLink}}/0"
					   ng-show="homeData[0].images"
					   ng-animate="{show: 'xexample-show', hide: 'xexample-hide'}">
						<img ngc-lazy-image="homeData[0].images.Thumbnails[2].PhotoUri" width="100%" height="100%"/>
						<div class="gallery-info-text"><h1 class="font-3x-responsive">{{homeData[0].Resources.header.Value}}</h1></div>
					</a>
				</div>
			</div>
		</div>
	</div>


	<div class="grid_6">
		<div class="grid_6">
			<div class="home">
				<div class="homeimage">
					<div class="image-placeholder">
						<a href="#!/p/{{pageLink}}/1">
							<img ngc-lazy-image="homeData[1].images.Thumbnails[1].PhotoUri" width="100%" height="100%"/>
							<div class="gallery-info-text"><h1 class="font-3x-responsive">{{homeData[1].Resources.header.Value}}</h1></div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="grid_6">
			<div class="home">
				<div class="homeimage">
					<div class="image-placeholder">
						<a href="#!/p/{{pageLink}}/2">
							<img ngc-lazy-image="homeData[2].images.Thumbnails[1].PhotoUri" width="100%" height="100%"/>
							<div class="gallery-info-text"><h1 class="font-3x-responsive">{{homeData[2].Resources.header.Value}}</h1></div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="grid_12">
			<div class="home-jara ">
				<div class="jara">
					<h1 class="handwritten">&nbsp;
						<span ng-show="loadedData" ng-animate="{show : 'home-jara-show', hide : 'home-jara-hide'}">jára tomka</span>
					</h1>

					<h3 class="handwritten">
						<span ng-show="loadedData" ng-animate="{show : 'home-jara-show', hide : 'home-jara-hide'}"> umělecký řezbář</span>
					</h3>
				</div>
			</div>
		</div>
		<div class="grid_6">
			<div class="home">
				<div class="homeimage">
					<div class="image-placeholder">
						<a href="#!/p/{{pageLink}}/3">
							<img ngc-lazy-image="homeData[3].images.Thumbnails[1].PhotoUri" width="100%" height="100%"/>
							<div class="gallery-info-text"><h1 class="font-3x-responsive">{{homeData[3].Resources.header.Value}}</h1></div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="grid_6">
			<div class="home">
				<div class="homeimage">
					<div class="image-placeholder">
						<a href="#!/p/{{pageLink}}/4">
							<img ngc-lazy-image="homeData[4].images.Thumbnails[1].PhotoUri" width="100%" height="100%"/>
							<div class="gallery-info-text"><h1 class="font-3x-responsive">{{homeData[4].Resources.header.Value}}</h1></div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="grid_6">
		<div class="kontakt">
			<p>Jaromír Tomka</p>
			<p>pod hradem 45</p>
			<p>785 01 Šternberk</p>
		</div>
	</div>
	<div class="grid_6">
		<div class="grid_6">
		</div>
		<div class="grid_6">
		</div>
	</div>


	<!--<div class="grid_3" ng-repeat="image in homeImagesBegin" >-->
	<!--<div class="home">-->
	<!--<div class="homeimage">-->
	<!--<a href="#!/p/gallery_1/0"> <img ngc-lazy-image="image.Thumbnails[1].PhotoUri"/></a>-->
	<!--</div>-->
	<!--</div>-->
	<!--</div>-->
	<!--<div class="grid_6">-->
	<!--<div class="home jara">-->
	<!--<h1 class="handwritten">jára tomka </h1>-->
	<!--<h3 class="handwritten">umělecký řezbář </h3>-->
	<!--</div>-->
	<!--</div>-->
	<!--<div class="grid_3" ng-repeat="image in homeImagesEnd">-->
	<!--<div class="home">-->
	<!--<div class="homeimage">-->
	<!--<img ngc-lazy-image="image.Thumbnails[1].PhotoUri" />-->
	<!--</div>-->
	<!--</div>-->
	<!--</div>-->

	<div class="clearfix"></div>
</div>
