<div class="grid_10">
	<div ng-show="gridElements.length === 0" style="width: 100%">&nbsp;</div>
	<div ng-show="gridElements === undefined" style="width: 100%">
		<img src="resources/loaders/loader.gif" alt="loading..."/>
		</div>
	<div ng-repeat="gridelement in gridElements" class="animate-repeat">
		<div gridelement="gridelement"></div>
	</div>
</div>

<div class="grid_2 groups" ng-show="groups">
	<h3 ng-click="filter()">{{groups.groupName}}</h3>
	<ul class="group-list">
		<li ng-repeat="group in groups.items" class="link group-item" ng-click="filter(group.id)"
			ng-class="isSelectedFilter(group.id)">{{group.name}}
		</li>
	</ul>
</div>


