<div class="template-p">
	<div class="navigation">
		<div class="container_12">
			<div class="grid_1">
				<button ng-click="prev()" class="btn-link" ng-disabled="isFirst">
					<i class="icon-angle-left icon-4x-responsive"></i>
				</button>
			</div>

			<div class="grid_10">
				<h1 class="font-4x-responsive">{{currentGridElement.Resources.header.Value}}</h1>

				<!--<h1 class="font-4x-responsive">{{currentGridElement.Resources.header.Value}}</h1>-->
				<h2>{{currentGridElement.Resources.text.Value }}</h2>
				<!--&nbsp; -->
			</div>

			<div class="grid_1">
				<div style="padding-right: 10px">
					<button style="float:right" ng-click="next()" ng-disabled="isLast" class="btn-link">
						<i class="icon-angle-right icon-4x-responsive"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>

	<div class="container_12">

		<!--<div class="btn-group">-->
		<!--<a class="btn" href="#/home">home</a>-->
		<!--</div>-->


		<div gridelement="currentGridElement"></div>

		<div class="grid_12">
			<div class="footer">
				<div class="logo">
					<a href="#!/home">
						<h2>jára tomka</h2>
						<h5> umělecký řezbář</h5>
					</a>
				</div>
				tel. +420 737 016 101
				<span class="divider"></span>
				http://www.facebook.com/JaromirTomka
				<span class="divider"></span>
			</div>
		</div>

	</div>

</div>
