<div class="dumbBoxWrap gallery-image-viewer" ng-controller="galleryImageViewerController" ng-show="gallery">
	<div class="dumbBoxOverlay">
		<div ng-show="loading" class="loader">
			<img src="resources/loaders/horizontalloadersmall_white.gif" alt="loading..."/>
		</div>
		&nbsp;
	</div>
	<div class="vertical-offset">
		<div class="navigation-buttons">
			<button ng-click="prev()" class="btn btn-link"
					tooltip="předchozí (kurzor doleva)"
					tooltip-popup-delay="500"
					tooltip-placement="right">
				<i class="icon-chevron-left icon-3x-responsive"></i>
			</button>
			<button ng-click="next()" class="btn btn-link"
					tooltip="další (kurzor doprava)"
					tooltip-popup-delay="500"
					tooltip-placement="bottom">`
				<i class="icon-chevron-right icon-3x-responsive"></i>
			</button>
			<button ng-click="close()" class="btn btn-link close"
					tooltip="zavřít (Esc)"
					tooltip-popup-delay="500"
					tooltip-placement="bottom">
				<i class="icon-remove icon-3x-responsive"></i>
			</button>
			<span style="color: white" ng-show="skipping > 0">......</span>
		</div>
		<ngc-responsive-image gallery-image="image"/>

	</div>
</div>
