<style>
	.navigation {
		margin-left: 20px;
		position: fixed;
		z-index: 10;
		width: 100%;
	}
	.navigation li {
		margin: 0;
		padding: 0;
	}
	.icon-15x {
		font-size: 15em;
	}
</style>

<!--<div class="btn-group">-->
	<!--<a class="btn" href="#/home">home</a>-->
<!--</div>-->


<ul class="navigation">
	<li><button ng-click="prev()" class="btn"><i class="icon-angle-left icon-15x"></i> </button></li>
	<li><button ng-click="next()" class="btn"><i class="icon-angle-right icon-15x"></i></button></li>
</ul>
<div class="clear"></div>

<div gridelement="currentGridElement"></div>



