<div>
	<div ngc-simple-drag class="draggable" ng-class="isMovable()">
		<style>
			.movable {
				cursor: move;
			}

			.actions {
				position: absolute;
			}

			.responsive-image-info-panel {
				background-color: #fff;
				position: relative;
				z-index: 1000;;
				float: right;
				width: 300px;
			}
		</style>
		<div>
			<div class="actions">
				<button ng-show="isOverFlowable()" ng-click="showFullSize()" class="btn-link"><span class="icon-white"
																									ng-class="isFullSizeCssClass()"
																									tooltip="{{fullSizeTooltip()}}"
																									tooltip-popup-delay="300"
																									tooltip-placement="right"
						>&nbsp;</span>
				</button>
			</div>
		</div>
		<img ngc-lazy-image="source" width="100%" height="100%"/>

	</div>


</div>

